<!doctype html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <title>Rock, Paper, Scissors!</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Press+Start+2P" rel="stylesheet">
</head>

<body>
  <a href ="/">
    <header>
     <h1>Rock, Paper, Scissors Showdown!</h1>
   </header>
 </a>

<!-- <div class="navbar"> -->
 <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/rules">Rules</a></li>
  <li><a href="/about">About</a></li>
</ul>
<!-- </div> -->

<%= yield %>

</body>