<div class='rules'>
  Choose your weapon!
</div>

<a href='/rock'>
  <div class='weapon'>
    Rock
  </div>
</a>

<a href='/paper'>
  <div class='weapon'>
    Paper
  </div>
</a>

<a href='/scissors'>
  <div class='weapon'>
    Scissors
  </div>
</a>
