<div class='rules'>
  <ul>
    <li>You will need to type two values after the '/' in the URL</li>
    <li>The first one should be Player One's choice, like so: /rock</li>
    <li>The second should be Player Two's choice, e.g. /scissors</li>
    <li>No cheating, Player Two.</li>
    <li>A third party and some whispering may be required for a satisfying game experience</li>
  </ul>
</div>